/*---------------block1----------------*/

button {
	cursor: pointer;
}

body {
	margin: 0;
}

.nav {
	background-color: #140A7B;
}

.container {
	max-width: 1200px;
	margin: auto;
	width: 90%;
}

.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__logo-img {
	width: 120px;
	height: 120px;
	padding: 30px 10px;
}

.nav__info {
	color: white;
	font-size: 22px;
}

.nav__phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.nav__phone-menu {
	width: 170px;
}

.nav__phone-number {
	font-size: 24px;
	text-decoration: initial;
	color: white;
}

.nav__call-img {
	width: 24px;
	height: 20px;
}

.nav__button {
	position: relative;
	border-radius: 10px;
	border:0;
	color: #140A7B;
	left: 65px;
	width: 100px;
	height: 30px;
	margin-top: 10px;
}

.nav__info-mobile {
	display: none;
}

/*---------------block1----------------*/

/*---------------block2----------------*/

.stand {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stand__title {
	text-align: center;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.25em;
	color: #130D4B;
}

.stand__image-information {
	width: 100%;
}

.stand__img {
	width: 100%;
}

.stand__phone-menu {
	display: none;
}

.stand__signature-title {
	text-align: center;
	font-size: 40px;
	color: #130D4B;
}

.stand-subtitle-information {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}

.stand__whom-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 60px;
}

.stand__subtitle-icon {
	background-color: #130D4B;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.stand__img-signature {
	width: 60%;
	height: 60%;
	margin-top: 7px;
	margin-left: 8px;
}

.stand__signature-subtitle {
	font-size: 22px;
	color: #130D4B;
}

/*---------------block2----------------*/

/*---------------block3----------------*/

.secret__title {
	text-align: center;
	line-height: 1.25em;
	font-size: 72px;
	color: #130D4B;
	background-color: #F0F0F0;
	padding: 50px;
	margin: 0;
}

.secret__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__information-painting {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.secret__red-paragraph {
	text-align: center;
	color: #130D4B;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 30px;
    height: 67px;
    padding-top: 90px;
}

.secret__subtitle {
	text-align: center;
	color: #130D4B;
	line-height: 1.75em;
	margin-top: 0px;
    font-size: 18px;
    width: 460px;
    height: 62px;
}

.secret__subtitle-number {
	text-align: center;
	color: #130D4B;
	line-height: 1.79em;
    font-size: 14px;
    width: 460px;
    height: 50px;
    margin-bottom: 0px;
}

.secret__ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #130D4B;
	margin-top: 0px;
}

.secret__image-information {
	width: 50%;
}

.secret__img {
	width: 100%;
	height: 680px;
}

.secret__information-live-lime {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.secret__text-wood {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__red-paragraph-wood {
	color: #130D4B;
	line-height: 1.34em;
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.secret__subtitle-wood {
	color: #130D4B;
	line-height: 1.75em;
    font-size: 18px;
}

.secret__img-wood {
	width: 100%;
    height: 660px;
}

.secret__information-more-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.secret__text-author {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__red-paragraph-author {
	color: #130D4B;
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 0px;
}

.secret__subtitle-author {
	color: #130D4B;
	line-height: 1.75em;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}

.secret__subtitle {
	color: #130D4B;
	line-height: 1.79em;
    text-align: center;
    font-size: 14px;
}

.author__img-wood {
	width: 100%;
    height: 840px;
}

/*---------------block3----------------*/

/*---------------block4----------------*/

.contrast__text {
	background-color: #F0F0F0;
}

.contrast__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #130D4B;
    padding-top: 50px;
}

.contrast__subtitle {
	line-height: 1.67em;
    text-align: center;
    font-size: 20px;
    color: #130D4B;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.contrast__img {
	display: flex;
	justify-content: space-between;
}

.contrast__img-wood {
	width: 100%;
	height: 100%;
}

/*---------------block4----------------*/

/*---------------block5----------------*/

.kudrinka__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    background-color: #F0F0F0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #130D4B;
    padding: 50px;
}

.kudrinka__information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.kudrinka__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.kudrinka__information-title {
	color: #130D4B;
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 0px;
}

.kudrinka__information-subtitle {
	color: #130D4B;
	line-height: 1.79em;
    text-align: center;
    font-size: 15px;
}

.kudrinka__image-information {
	width: 50%;
}

.kudrinka__img {
	width: 100%;
	height: 100%;
}

.kudrinka__stage-title-information {
	background-color: white;
}

.kudrinka__stage-title {
	text-align: center;
	color: #130D4B;
    line-height: 1.35em;
    font-size: 40px;
    padding-top: 50px;
}

.kudrinka__stage-subtitle {
	text-align: center;
	color: #130D4B;
    line-height: 1.75em;
    font-size: 18px;
    padding-bottom: 50px;
}

.kudrinka__piece {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F0F0F0;
	margin-top: 40px;
}

.kudrinka__image-piece {
	width: 700px;
	height: 440px;
}

.kudrinka__piece-text {
	color: #130D4B;
	padding-left: 70px;
	width: 50%;
	height: 100%;
	text-align: left;
}

.kudrinka__title-pice {
	font-size: 22px;
	padding-bottom: 30px;
}

.kudrinka__subtitle-pice {
	line-height: 1.875em;
	font-size: 15px;
}

.kudrinka__image-miniature {
	width: 700px;
	height: 580px;
}

.kudrinka__title-miniature {
	font-size: 22px;
}

.kudrinka__subtitle-miniature {
	line-height: 1.875em;
	padding-top: 30px;
	font-size: 15px;
}

.kudrinka__image-face {
	width: 700px;
	height: 520px;
}

.kudrinka__image-base {
	width: 700px;
	height: 540px;
}

.kudrinka__ul {
	padding-top: 10px;
	padding-left: 25px;
}

.kudrinka__li {
	padding-top: 10px;
}

.kudrinka__subtitle-Paint {
	line-height: 1.875em;
	padding-top: 30px;
	font-size: 15px;
	margin-bottom: 0px;
}

.kudrinka__ul-Paint {
	line-height: 1.875em;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 25px;
}

.kudrinka__subtitle-varnished {
	line-height: 1.875em;
	padding-top: 10px;
	font-size: 15px;
}

.kudrinka__image-petal {
	width: 700px;
	height: 440px;
}

.kudrinka__image-Paint {
	width: 700px;
	height: 640px;
}

.kudrinka__image-varnished {
	width: 700px;
	height: 500px;
}

.kudrinka__image-piece-mobile {
	display: none;
}

.kudrinka__img-mobile {
	display: none;
}

.kudrinka__image-miniature-mobile {
	display: none;
}

.kudrinka__image-face-mobile {
	display: none;
}

.kudrinka__image-base-mobile {
	display: none;
}

.kudrinka__image-petal-mobile {
	display: none;
}

.kudrinka__image-Paint-mobile {
	display: none;
}

.kudrinka__image-varnished-mobile {
	display: none;
}

/*---------------block5----------------*/

/*---------------block6----------------*/

.control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 80px;
}

.control__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.control__title {
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    color: #130D4B;
}

.control__subtitle {
	text-align: center;
    line-height: 1.75em;
    font-size: 18px;
    color: #130D4B;
}

.control__image-varnished {
	width: 666px;
	height: 680px;
}

/*---------------block6----------------*/

/*---------------block7----------------*/

.story__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F0F0F0;
	padding-bottom: 120px;
}

.story__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-bottom: 25px;
    padding-top: 50px;
    color: #130D4B;
}

.story__subtitle {
	text-align: center;
    line-height: 1.67em;
    font-size: 20px;
    margin-top: 0px;
    color: #130D4B;
}

.story__information {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.story__image-varnished {
	width: 900px;
	height: 700px;
}

.story__text-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
}

.story__text-info-title {
	text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    color: #130D4B;
}

.story__text-info-subtitle {
	line-height: 1.875em;
    text-align: center;
    font-size: 15px;
    color: #130D4B;
    margin-bottom: 5px;
}

.story__text-info-subtitle-sum {
    text-align: center;
    font-size: 15px;
    color: #130D4B;
    margin-top: 0px;
    margin-bottom: 0px;
}

.story__button {
	background-color: #130D4B;
	color: white;
	width: 244px;
	height: 45px;
	padding: 0px;
	font-size: 15px;
	margin-top: 40px;
	border: 0;

}

.story__image-Red-hat {
	width: 900px;
	height: 600px;
}

.story__text-Red-hat {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 600px;
}

.story__image-princess {
	width: 900px;
	height: 640px;
}

.story__text-Red-hat-title {
	text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    color: #130D4B;
    padding-top: 130px;
}

.story__image-pit {
	width: 900px;
	height: 640px;
}

.story__text-pit {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 640px;
}

.story__image-Roundelay {
	width: 900px;
	height: 660px;
}

.story__text-Roundelay {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 450px;
	height: 660px;
}

/*---------------block7----------------*/


/*---------------media(1100px)----------------*/

@media(max-width: 1100px)
{

	/*---------------media(1100px)_block1----------------*/

	.nav__phone {
		width: 28%;
	}

	/*---------------media(1100px)_block1----------------*/

	/*---------------media(1100px)_block2----------------*/

	.stand__whom-information {
		padding: 0px 30px;
	}

	.stand__signature-subtitle {
		font-size: 20px;
	}

	/*---------------media(1100px)_block2----------------*/

	/*---------------media(1100px)_block5----------------*/

	.kudrinka__title {
	    font-size: 60px;
	}

	.kudrinka__information-title {
	    font-size: 40px;
	}

		.kudrinka__information-subtitle {
	    font-size: 13px;
	}

	.kudrinka__stage-title {
	    font-size: 30px;
	    padding-top: 40px;
	}

	.kudrinka__stage-subtitle {
	    font-size: 15px;
	    padding-bottom: 40px;
	}

	.kudrinka__title-pice {
		font-size: 18px;
		padding-bottom: 20px;
	}

	.kudrinka__subtitle-pice {
		font-size: 13px;
	}

	.kudrinka__title-miniature {
		font-size: 18px;
	}

	.kudrinka__subtitle-miniature {
		font-size: 13px;
	}

	/*---------------media(1100px)_block5----------------*/

	/*---------------media(1100px)_block6----------------*/

	.control {
		margin-top: 70px;
	}

	.control__text {
		width: 50%;
		height: 600
	}

	.control__title {
	    font-size: 40px;
	}

	.control__subtitle {
	    font-size: 12px;
	}

	.control__image-varnished {
		width: 666px;
		height: 600px;
	}

	/*---------------media(1100px)_block6----------------*/

	/*---------------media(1100px)_block7----------------*/

	.story__image-varnished {
		height: 550px;
	}

	.story__text-info-title {
		font-size: 20px;
	}

	.story__text-info-subtitle {
		font-size: 13px;
	}

	.story__button {
		width: 200px;
		font-size: 13px;
	}

	.story__text-Red-hat-title {
		font-size: 20px;
	}

	.story__image-Red-hat {
		height: 550px;
	}

	.story__text-Red-hat {
		height: 550px;
	}

	.story__image-pit {
		height: 550px;
	}

	.story__text-pit {
		height: 550px;
	}

	.story__image-princess {
		height: 550px;
	}

	.story__image-Roundelay {
		height: 550px;
	}

	.story__text-Roundelay {
		height: 550px;
	}

	/*---------------media(1100px)_block7----------------*/
}

/*---------------media(780px)----------------*/

@media(max-width: 780px)
{

	/*---------------media(780px)_block1----------------*/

	.nav__phone {
		display: none;
	}

	.nav__info {
		display: none;
	}

	.nav__info-mobile {
		display: block;
		color: white;
		font-size: 22px;
	}

	.nav__logo-img {
		width: 80px;
		height: 80px;
		padding: 20px 10px;
	}

	/*---------------media(780px)_block1----------------*/

	/*---------------media(780px)_block2----------------*/

	.stand__phone-menu {
		display: block;
	}

	.stand__title {
		font-size: 60px;
	}

	.stand__signature-title {
		font-size: 35px;
	}

	.stand__subtitle-icon {
		width: 35px;
		height: 35px;
	}

	.stand__img-signature {
		width: 50%;
		height: 50%;
		margin-left: 9px;
	}

	.stand__whom-information {
		padding: 0px 24px;
	}

	.stand__signature-subtitle {
		font-size: 14px;
	}

	.stand__phone-menu {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.stand__phone-number {
		text-decoration: initial;
	}

	.stand__button {
		position: relative;
		border-radius: 10px;
		border:0;
		color: #140A7B;
		left: 5px;
		width: 100px;
		height: 30px;
		margin-top: 10px;
	}

	/*---------------media(780px)_block2----------------*/

	/*---------------media(780px)_block3----------------*/

	.secret__title {
		font-size: 60px;
	}

	.secret__text {
		width: 100%;
	}

	.secret__information-painting {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__red-paragraph {
	    font-size: 45px;
	    margin-bottom: 20px;
	    padding-top: 60px;
	}

	.secret__subtitle {
	    font-size: 15px;
	}

	.secret__subtitle {
		text-align: center;
		color: #130D4B;
		line-height: 1.75em;
		margin-top: 0px;
	    font-size: 18px;
	    width: 100%;
	    height: 100%;
	}

	.secret__image-information {
		width: 100%;
	}

	.secret__img {
		width: 100%;
		height: 100%;
	}

	.secret__information-live-lime {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__text-wood {
		width: 100%;
	}

	.secret__red-paragraph-wood {
	    font-size: 40px;
	}

	.secret__subtitle-wood {
	    font-size: 15px;
	}

	.secret__img-wood {
		width: 100%;
	    height: 100%;
	}

	.secret__subtitle-number {
	    font-size: 14px;
	    width: 100%;
	    height: 50px;
	    margin-bottom: 10px;
	}

	.secret__information-more-items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__text-author {
		width: 100%;
	}

	.secret__red-paragraph-author {
	    font-size: 40px;
	}

	.secret__subtitle-author {
	    font-size: 15px;
	}

	.author__img-wood {
		width: 100%;
	    height: 100%;
	}

	/*---------------media(780px)_block3----------------*/

	/*---------------media(780px)_block4----------------*/

	.contrast__title {
	    font-size: 60px;
	    color: #130D4B;
	    padding-top: 50px;
	}

	.contrast__subtitle {
	    font-size: 18px;
	    padding-bottom: 40px;
	}

	.contrast__img {
		display: flex;
		flex-direction: column;
	}

	/*---------------media(780px)_block4----------------*/

	/*---------------media(780px)_block5----------------*/

	.kudrinka__information {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.kudrinka__title {
	    font-size: 40px;
	    padding: 20px;
	}

	.kudrinka__information-title {
	    font-size: 30px;
	}

	.kudrinka__image-information {
		width: 100%;
	}

	.kudrinka__img-wood {
		width: 100%;
		height: 450px;
	}

	.kudrinka__piece {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}

	.kudrinka__image-piece-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__img-mobile {
		width: 100%;
    	height: 100%;
	}

	.kudrinka__image-miniature-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__image-face-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__image-base-mobile {
		width: 100%;
    	height: 450px;
	}
	.kudrinka__image-petal-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__image-Paint-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__image-varnished-mobile {
		width: 100%;
    	height: 450px;
	}

	.kudrinka__subtitle-miniature {
		padding-top: 10px;
	}

	.kudrinka__image-piece-mobile {
		display: block;
	}

	.kudrinka__img-mobile {
		display: block;
	}

	.kudrinka__image-miniature-mobile {
		display: block;
	}

	.kudrinka__image-face-mobile {
		display: block;
	}

	.kudrinka__image-base-mobile {
		display: block;
	}

	.kudrinka__image-petal-mobile {
		display: block;
	}

	.kudrinka__image-Paint-mobile {
		display: block;
	}

	.kudrinka__image-varnished-mobile {
		display: block;
	}

	.kudrinka__image-piece {
		display: none;
	}

	.kudrinka__image-miniature {
		display: none;
	}

	.kudrinka__image-face {
		display: none;
	}

	.kudrinka__image-base {
		display: none;
	}

	.kudrinka__image-petal {
		display: none;
	}

	.kudrinka__image-Paint {
		display: none;
	}

	.kudrinka__image-varnished {
		display: none;
	}

	/*---------------media(780px)_block5----------------*/

	/*---------------media(780px)_block6----------------*/

	.control {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 80px;
	}

	.control__text {
		width: 100%;
	}

	.control__title {
	    font-size: 30px;
	}

	.control__subtitle {
	    font-size: 15px;
	}

	.control__image-varnished {
		width: 100%;
		height: 500px;
	}

	/*---------------media(780px)_block6----------------*/

	/*---------------media(780px)_block7----------------*/

	.story__text {
		padding-bottom: 80px;
	}

	.story__title {
		font-size: 60px;
		padding-top: 20px;
	}

	.story__subtitle {
		font-size: 18px;
	}

	.story__information {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.story__button {
		margin-bottom: 50px;
	}

	.story__text-info {
		width: 100%;
	}

	.story__text-Red-hat {
		width: 100%;
	}

	.story__image-varnished {
		width: 100%;
	}

	.story__text-pit {
		width: 100%;
	}

	.story__image-Red-hat {
		width: 100%;
	}

	.story__text-Roundelay {
		width: 100%;
	}

	.story__image-pit {
		width: 100%;
	}

	.story__image-princess {
		width: 100%;
	}

	.story__image-Roundelay {
		width: 100%;
	}

	/*---------------media(780px)_block7----------------*/
}

/*---------------media(550px)----------------*/

@media(max-width: 550px)
{

	/*---------------media(550px)_block1----------------*/
	.nav__phone {
		display: none;
	}

	.nav__info {
		display: none;
	}

	.nav__info-mobile {
		display: block;
		color: white;
		font-size: 22px;
	}

	.nav__logo-img {
		width: 40px;
		height: 40px;
		padding: 20px 10px;
	}

	/*---------------media(550px)_block1----------------*/

	/*---------------media(550px)_block2----------------*/

	.stand__phone-menu {
		display: block;
	}

	.stand__title {
		font-size: 35px;
	}

	.stand__signature-title {
		font-size: 30px;
	}

	.stand__subtitle-icon {
		width: 30px;
		height: 30px;
	}

	.stand__img-signature {
		width: 40%;
		height: 40%;
		margin-left: 9px;
	}

	.stand-subtitle-information {
		display: flex;
		flex-direction: column;
		margin-right: 170px;
		height: 300px;
	}

	.stand__whom-information {
		padding: 0px 0px;
	}

	.stand__signature-subtitle {
		font-size: 15px;
	}

	.stand__phone-menu {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	/*---------------media(550px)_block2----------------*/

	/*---------------media(550px)_block3----------------*/

	.secret__title {
		font-size: 35px;
		padding: 20px;
	}

	.secret__red-paragraph {
	    font-size: 35px;
	    margin-bottom: 10px;
	    padding-top: 40px;
	}

	.secret__subtitle-number {
	    font-size: 12px;
	}

	.secret__subtitle {
	    font-size: 12px;
	}

	.secret__red-paragraph-wood {
	    font-size: 35px;
	}

	.secret__subtitle-wood {
	    font-size: 12px;
	}

	.secret__red-paragraph-author {
	    font-size: 35px;
	}

	.secret__subtitle-author {
	    font-size: 12px;
	}

	/*---------------media(550px)_block3----------------*/

	/*---------------media(550px)_block4----------------*/

	.contrast__title {
	    font-size: 35px;
	    color: #130D4B;
	    padding-top: 50px;
	}

	.contrast__subtitle {
	    font-size: 12px;
	    padding-bottom: 25px;
	}

	/*---------------media(550px)_block4----------------*/

	/*---------------media(550px)_block5----------------*/

	.kudrinka__title {
	    font-size: 20px;
	    padding: 20px;
	}

	.kudrinka__information-title {
	    font-size: 20px;
	}

	.kudrinka__text {
	    width: 100%;
	}

	.kudrinka__information-subtitle {
	    font-size: 10px;
	}

	.kudrinka__image-information {
		width: 100%;
	}

	.kudrinka__img-wood {
		width: 100%;
		height: 350px;
	}

	.kudrinka__piece-text {
	    padding-left: 20px;
	    width: 100%;
	}

	.kudrinka__subtitle-miniature {
		padding-top: 10px;
		font-size: 12px;
	}

	.kudrinka__image-piece-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__img-mobile {
		width: 100%;
    	height: 100%;
	}

	.kudrinka__image-miniature-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__image-face-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__image-base-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__image-petal-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__image-Paint-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__image-varnished-mobile {
		width: 100%;
    	height: 250px;
	}

	.kudrinka__ul {
		font-size: 12px;
	}

	.kudrinka__subtitle-Paint {
	    font-size: 12px;
	}

	.kudrinka__ul-Paint {
		font-size: 12px;
	}

	.kudrinka__subtitle-varnished {
		font-size: 12px;
	}

	/*---------------media(550px)_block5----------------*/

	/*---------------media(550px)_block6----------------*/

	.control__title {
	    font-size: 25px;
	}

	.control__subtitle {
	    font-size: 10px;
	}

	.control__image-varnished {
		width: 100%;
		height: 300px;
	}

	/*---------------media(550px)_block6----------------*/

	/*---------------media(550px)_block7----------------*/

	.story__text {
		padding-bottom: 50px;
	}

	.story__title {
		font-size: 40px;
		padding-top: 20px;
	}

	.story__subtitle {
		font-size: 15px;
	}

	.story__text-Red-hat-title {
		padding-top: 0px;
	}

	.story__information {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.story__button {
		margin-bottom: 50px;
	}

	.story__text-Roundelay {
		height: 400px;
	}
	.story__text-Red-hat {
		height: 400px;
	}

	.story__text-pit {
		height: 400px;
	}

	.story__image-varnished {
		height: 350px;
	}

	.story__image-Red-hat {
		height: 350px;
	}

	.story__image-pit {
		height: 350px;
	}

	.story__image-princess {
		height: 350px;
	}

	.story__image-Roundelay {
		height: 350px;
	}

	/*---------------media(550px)_block7----------------*/
}

/*---------------media(450px)----------------*/