/*---------------block1----------------*/

@font-face {
	font-family: 'PlayfairDisplay';
	src: url(../font/PlayfairDisplay-Regular.ttf) format("ttf");
	font-style: normal; 
	font-weight: 300; 
}

@font-face {
	font-family: PlayfairDisplay;
	src: url(../font/PlayfairDisplay-Medium.ttf) format("ttf");
	font-style: normal; 
	font-weight: 500; 
}

@font-face {
	font-family: PlayfairDisplay;
	src: url(../font/PlayfairDisplay-ExtraBold.ttf) format("ttf");
	font-style: normal; 
	font-weight: 800; 
}

body {
	font-family: "PlayfairDisplay";
}

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

body {
	margin: 0;
}

.nav {
	background-color: #140A7B;
}

.container {
	max-width: 1220px;
	margin: auto;
}

.nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__logo-img {
	width: 120px;
	height: 120px;
	padding: 15px 10px;
}

.nav__info {
	color: white;
	font-size: 22px;
}

.nav__phone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
}

.nav__phone-number {
	font-size: 24px;
	text-decoration: initial;
	color: white;
}

.nav__call-img {
	width: 24px;
	height: 20px;
}

.nav__button {
	position: relative;
	border-radius: 10px;
	border:0;
	color: #140A7B;
	left: 65px;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-left: 8px;
}

.nav__info-mobile {
	display: none;
}

/*---------------block1----------------*/

/*---------------block2----------------*/

.stand {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stand__title {
	text-align: center;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.25em;
	color: #130D4B;
}

.stand__image-information {
	width: 100%;
}

.stand__img {
	width: 100%;
	object-fit: cover;
}

.stand__phone-menu {
	display: none;
}

.stand__signature-title {
	text-align: center;
	font-size: 40px;
	color: #130D4B;
}

.stand-subtitle-information {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
}

.stand-subtitle-information-mobile {
	display: none;
}

.stand__whom-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 60px;
}

.stand__whom-information-mobile {
	display: none;
}

.stand__subtitle-icon {
	background-color: #130D4B;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.stand__img-signature {
	width: 60%;
	height: 60%;
	margin-top: 7px;
	margin-left: 8px;
}

.stand__signature-subtitle {
	font-size: 22px;
	color: #130D4B;
}

/*---------------block2----------------*/

/*---------------block3----------------*/

.secret__title {
	text-align: center;
	line-height: 1.25em;
	font-size: 72px;
	color: #130D4B;
	background-color: #F0F0F0;
	padding: 50px;
	margin: 0;
	font-weight: 300;
}

.secret__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__information-painting {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.secret__red-paragraph {
	text-align: center;
	color: #130D4B;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 30px;
    height: 67px;
}

.secret__subtitle {
	text-align: center;
	color: #130D4B;
	line-height: 1.75em;
	margin-top: 0px;
    font-size: 18px;
    font-weight: 800;
    width: 460px;
    height: 62px;
}

.secret__subtitle-number {
	text-align: center;
	color: #130D4B;
	line-height: 1.79em;
    font-size: 14px;
    width: 460px;
    height: 50px;
    margin-bottom: 0px;
}

.secret__ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #130D4B;
	margin-top: 0px;
}

.secret__image-information {
	display: flex;
	width: 50%;
}

.secret__img {
	width: 100%;
	height: 680px;
	object-fit: cover;
}

.secret__information-live-lime {
	background-color: #F0F0F0;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.secret__text-wood {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__red-paragraph-wood {
	color: #130D4B;
	line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 10px;
}

.secret__subtitle-wood {
	color: #130D4B;
	line-height: 1.75em;
    font-size: 18px;
}

.secret__img-wood {
	width: 100%;
    height: 660px;
    object-fit: cover;
}

.secret__information-more-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.secret__text-author {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.secret__red-paragraph-author {
	color: #130D4B;
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 0px;
}

.secret__subtitle-author {
	color: #130D4B;
	line-height: 1.75em;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}

.author__image-information {
	width: 50%;
	display: flex;
}

.author__img-wood {
	width: 100%;
    height: 840px;
    object-fit: cover;
}

/*---------------block3----------------*/

/*---------------block4----------------*/

.contrast__text {
	background-color: #F0F0F0;
}

.contrast__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #130D4B;
    padding-top: 50px;
    font-weight: 300;
}

.contrast__subtitle {
	line-height: 1.67em;
    text-align: center;
    font-size: 20px;
    color: #130D4B;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

.contrast__img {
	display: flex;
	justify-content: space-between;
}

.contrast__image-information {
	width: 50%;
}

.contrast__img-wood {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*---------------block4----------------*/

/*---------------block5----------------*/

.creation__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    background-color: #F0F0F0;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #130D4B;
    padding: 50px;
    font-weight: 300;
}

.creation__information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.creation__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.creation__information-title {
	color: #130D4B;
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    margin-bottom: 0px;
}

.creation__information-subtitle {
	color: #130D4B;
	line-height: 1.79em;
    text-align: center;
    font-size: 15px;
}

.creation__image-information {
	width: 50%;
}

.creation__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.creation__stage-title-information {
	background-color: white;
}

.creation__stage-title {
	text-align: center;
	color: #130D4B;
    line-height: 1.35em;
    font-size: 40px;
    padding-top: 50px;
}

.creation__stage-subtitle {
	text-align: center;
	color: #130D4B;
    line-height: 1.75em;
    font-size: 18px;
    padding-bottom: 50px;
}

.creation__piece {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F0F0F0;
	margin-top: 40px;
}

.creation__image-piece {
	width: 700px;
	height: 440px;
}

.creation__piece-text {
	color: #130D4B;
	padding-left: 70px;
	width: 50%;
	height: 100%;
	text-align: left;
}

.creation__title-pice {
	font-size: 22px;
	padding-bottom: 30px;
}

.creation__subtitle-pice {
	line-height: 1.875em;
	font-size: 15px;
}

.creation__image-miniature {
	width: 700px;
	height: 580px;
}

.creation__title-miniature {
	font-size: 22px;
}

.creation__subtitle-miniature {
	line-height: 1.875em;
	padding-top: 30px;
	font-size: 15px;
}

.creation__image-face {
	width: 700px;
	height: 520px;
}

.creation__image-base {
	width: 700px;
	height: 540px;
}

.creation__ul {
	padding-top: 10px;
	padding-left: 25px;
}

.creation__li {
	padding-top: 10px;
}

.creation__subtitle-Paint {
	line-height: 1.875em;
	padding-top: 30px;
	font-size: 15px;
	margin-bottom: 0px;
}

.creation__ul-Paint {
	line-height: 1.875em;
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 25px;
}

.creation__subtitle-varnished {
	line-height: 1.875em;
	padding-top: 10px;
	font-size: 15px;
}

.creation__image-petal {
	width: 700px;
	height: 440px;
}

.creation__image-Paint {
	width: 700px;
	height: 640px;
}

.creation__image-varnished {
	width: 700px;
	height: 500px;
}

.creation__image-piece-mobile {
	display: none;
}

.creation__img-mobile {
	display: none;
}

.creation__image-miniature-mobile {
	display: none;
}

.creation__image-face-mobile {
	display: none;
}

.creation__image-base-mobile {
	display: none;
}

.creation__image-petal-mobile {
	display: none;
}

.creation__image-Paint-mobile {
	display: none;
}

.creation__image-varnished-mobile {
	display: none;
}

.creation__subtitle-mobile {
	display: none;
}

/*---------------block5----------------*/

/*---------------block6----------------*/

.control {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 80px;
}

.control__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.control__title {
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    color: #130D4B;
}

.control__subtitle {
	text-align: center;
    line-height: 1.75em;
    font-size: 18px;
    color: #130D4B;
}

.control__image-varnished {
	width: 50%;
	height: 680px;
}

/*---------------block6----------------*/

/*---------------block7----------------*/

.story__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F0F0F0;
	padding-bottom: 120px;
}

.story__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 25px;
    padding-top: 50px;
    color: #130D4B;
}

.story__subtitle {
	text-align: center;
    line-height: 1.67em;
    font-size: 20px;
    margin-top: 0px;
    color: #130D4B;
}

.story__information {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.story__image-varnished {
	width: 65%;
	height: 700px;
}

.story__text-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
}

.story__text-info-title {
	text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    color: #130D4B;
}

.story__text-info-subtitle {
	line-height: 1.875em;
    text-align: center;
    font-size: 15px;
    color: #130D4B;
    margin-bottom: 5px;
}

.story__text-info-subtitle-sum {
    text-align: center;
    font-size: 15px;
    color: #130D4B;
    margin-top: 0px;
    margin-bottom: 0px;
}

.story__button {
	background-color: #130D4B;
	color: white;
	width: 100%;
	height: 45px;
	padding: 0px;
	font-size: 15px;
	margin-top: 40px;
	border: 0;
	transition: 0.50s;

}

.story__button:hover {
	opacity: 60%;
}

.story__image-Red-hat {
	width: 65%;
	height: 600px;
}

.story__text-Red-hat {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 600px;
}

.story__image-princess {
	width: 65%;
	height: 640px;
}

.story__text-Red-hat-title {
	text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    color: #130D4B;
    padding-top: 130px;
}

.story__image-pit {
	width: 65%;
	height: 640px;
}

.story__text-pit {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 640px;
}

.story__image-Roundelay {
	width: 65%;
	height: 660px;
}

.story__text-Roundelay {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 660px;
}

/*---------------block7----------------*/

/*---------------block8----------------*/

.why__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.why__title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    font-weight: 300;
    color: #130D4B;
    width: 50%;
    padding-bottom: 200px;
}

.why__sub-info {
	width: 50%;
	padding: 100px;
}

.why__subtitle {
	line-height: 1.875em;
    font-size: 15px;
	color: #130D4B;
	width: 100%;
}

.whu__how {
	padding-bottom: 50px;
	background-color: #F0F0F0;
}

.whu__how-title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    color: #130D4B;
    padding-top: 100px;
    padding-bottom: 50px;

}

.whu__how-information {
	display: flex;
	justify-content: space-around;
}

.whu__how-information-mobile {
	display: none;
}

.whu__how-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whu__how-info-mobile {
	display: none;
}

.whu__how-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #130D4B;
}

.whu__how-icon-text {
	text-align: center;
	color: white;
	font-size: 35px;
	margin-top: 0px;
}

.whu__how-subtitle {
	text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    padding-top: 20px;
    color: #130D4B;
}
/*---------------block8----------------*/

/*---------------block9----------------*/

.delivery {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.delivery__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	color: #130D4B;
}

.delivery__title {
	text-align: center;
    line-height: 1.34em;
    font-size: 50px;
    font-weight: 300;
}

.delivery__title-sub {
	text-align: center;
    line-height: 1.75em;
    font-size: 18px;
}

.delivery__subtitle {
	line-height: 1.79em;
    text-align: center;
    font-size: 14px;
}

.delivery__li {
	line-height: 1.79em;
    font-size: 14px;
}

.delivery__image-delivery {
	width: 50%;
    height: 740px;
}

/*---------------block9----------------*/

/*---------------block10----------------*/

.inimitable {
	background-color: #F0F0F0;
}

.inimitable__text {
	padding: 70px;
}

.inimitable__title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-weight: 300;
    color: #130D4B;
}

.inimitable__subtitle {
	line-height: 1.75em;
    text-align: center;
    font-size: 18px;
	color: #130D4B;
}

.inimitable__wrapper {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 5px;
	grid-auto-rows: minmax(auto,100px;);
	margin: auto;
	width: 57%;
}

.inimitable__subwrapper {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-gap: 5px;
}

.inimitable__image-delivery {
	cursor: pointer;
	transition: 0.50s;
}

.inimitable__image-delivery:hover {
	opacity: 60%;
}

/*---------------block10----------------*/

/*---------------block11----------------*/

.size__title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-weight: 300;
    color: #130D4B;
    padding: 30px;
}

.size .container {
	display: flex;
	justify-content: space-around;
}

.size__small {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F0F0F0;
	color: #130D4B;
}

.size__image-delivery {
	width: 370px;
    height: 280px;
}

.size__title-cont {
	line-height: 1.41em;
    text-align: center;
    font-size: 22px;
}

.size__img {
	width: 100%;
    object-fit: cover;
}

.size__subtitle-cont {
	line-height: 1.75em;
    text-align: center;
    font-size: 18px;
}

.size__number-cont {
	line-height: 1.75em;
    text-align: center;
    font-size: 18px;
}

.size__button-small {
	width: 102px;
	height: 45px;
	border-radius: 50px;
	border: 0;
	background-color: #130D4B;
	color: white;
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 60px;
	z-index: 2;
	transition: 0.50s;
}

.size__button-small:hover {
	opacity: 60%;
}

.size__shadow {
	position: relative;
	bottom: 100px;
	left: 3px;
	width: 102px;
	height: 45px;
	border-radius: 50px;
	-webkit-filter: blur(2px);
	background-color: gray;
	opacity: 70%;
	z-index: 1;
}

.size__button-mid {
	width: 102px;
	height: 45px;
	border-radius: 50px;
	border: 0;
	background-color: #130D4B;
	color: white;
	font-size: 15px;
	margin-top: 19px;
	margin-bottom: 60px;
	z-index: 2;
	transition: 0.25s;
}

.size__button-mid:hover {
	opacity: 60%;
}

.size__button-big {
	width: 102px;
	height: 45px;
	border-radius: 50px;
	border: 0;
	background-color: #130D4B;
	color: white;
	font-size: 15px;
	margin-top: 50px;
	margin-bottom: 60px;
	z-index: 2;
	transition: 0.25s;
}

.size__button-big:hover {
	opacity: 60%;
}

.size__sub-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #130D4B;
	padding: 30px;
}

.size__sub-title {
	text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-bottom: 30px;
    font-weight: 300;
}

.size__sub-subtitle {
	line-height: 1.875em;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}
.size__information {
	background-color: #F0F0F0;
}

.size__text-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #130D4B;
	padding: 30px;
}

.size__text-info-title {
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-bottom: 30px;
    font-weight: 300;
}

.size__text-info-subtitle {
	text-align: center;
    line-height: 1.67em;
    font-size: 20px;
    margin-top: 0px;
}

.size__image-toys {
	width: 1349px;
}

.size__img-toys {
	width: 100%;
	object-fit: cover;
}

.size__mobile {
	display: none;
}

.size__social-networks {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #130D4B;
	padding: 80px;
}

.size__social-networks-title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-weight: 300; 
}

.size__social-networks-subtitle {
	text-align: center;
    line-height: 1.875em;
    font-size: 15px;
}

.size__social-icon {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 12%;
	padding-top: 30px;
}

.size__social {
	width: 20px;
	height: 20px;
}
.social {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*---------------block11----------------*/

/*---------------block12----------------*/

	.slider {
		background-color: #F0F0F0;
	}

	.slider__title {
		text-align: center;
    	line-height: 1.35em;
    	font-size: 40px;
    	color: #130D4B;
	}

/*---------------block12----------------*/

/*---------------block13----------------*/

.diploms .container {
	width: 90%;
	padding-bottom: 70px;
}

.diploms__title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    margin-bottom: 0px;
    color: #130D4B;
    padding-top: 70px;
}

.diploms__images-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 70px;
}

.diploms__image-toys {
	width: 273px;
	height: 400px;
}

.diploms__img-toys {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.diploms__button {
	display: none;
}

.diploms__image-toys-mobile {
	display: none;
}

/*---------------block13----------------*/

/*---------------block14----------------*/

.footer__title-information {
	background-color: #140A7B;
}

.footer__title {
	text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    margin-bottom: 20px;
    color: #F9E799;
    font-weight: 300;
    padding-top: 100px; 
}

.footer__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.footer__input {
	width: 940px;
	height: 52px;
	background-color: #140A7B;
	border: 0.5px solid white; 
	margin-top: 10px;
	padding-left: 10px;
	color: white;
	font-size: 15px;
}

.footer__input::placeholder {
	color: white;
}

.footer__button {
	width: 230px;
	height: 70px;
	border: 0;
	color: #130D4B;
	margin-top: 30px;
	margin-bottom: 110px;
}

.footer__information-social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__social {
	width: 20px;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer__subtitle {
	text-align: center;
    line-height: 1.35em;
    font-size: 15px;
    color: #130D4B;
}

/*---------------block14----------------*/


/*---------------media(1100px)----------------*/

@media(max-width: 1100px)
{

	/*---------------media(1100px)_block1----------------*/

	.nav__phone {
		width: 28%;
	}

	/*---------------media(1100px)_block1----------------*/

	/*---------------media(1100px)_block2----------------*/

	.stand__whom-information {
		padding: 0px 30px;
	}

	.stand__signature-subtitle {
		font-size: 20px;
	}

	/*---------------media(1100px)_block2----------------*/

	/*---------------media(1100px)_block5----------------*/

	.creation__title {
	    font-size: 60px;
	}

	.creation__information-title {
	    font-size: 40px;
	}

		.creation__information-subtitle {
	    font-size: 13px;
	}

	.creation__stage-title {
	    font-size: 30px;
	    padding-top: 40px;
	}

	.creation__stage-subtitle {
	    font-size: 15px;
	    padding-bottom: 40px;
	}

	.creation__title-pice {
		font-size: 18px;
		padding-bottom: 20px;
	}

	.creation__subtitle-pice {
		font-size: 13px;
	}

	.creation__title-miniature {
		font-size: 18px;
	}

	.creation__subtitle-miniature {
		font-size: 13px;
	}

	/*---------------media(1100px)_block5----------------*/

	/*---------------media(1100px)_block6----------------*/

	.control {
		margin-top: 70px;
	}

	.control__text {
		width: 50%;
		height: 600
	}

	.control__title {
	    font-size: 40px;
	}

	.control__subtitle {
	    font-size: 12px;
	}

	.control__image-varnished {
		width: 666px;
		height: 600px;
	}

	/*---------------media(1100px)_block6----------------*/

	/*---------------media(1100px)_block7----------------*/

	.story__image-varnished {
		height: 550px;
	}

	.story__text-info-title {
		font-size: 20px;
	}

	.story__text-info-subtitle {
		font-size: 13px;
	}

	.story__button {
		width: 200px;
		font-size: 13px;
	}

	.story__text-Red-hat-title {
		font-size: 20px;
	}

	.story__image-Red-hat {
		height: 550px;
	}

	.story__text-Red-hat {
		height: 550px;
	}

	.story__image-pit {
		height: 550px;
	}

	.story__text-pit {
		height: 550px;
	}

	.story__image-princess {
		height: 550px;
	}

	.story__image-Roundelay {
		height: 550px;
	}

	.story__text-Roundelay {
		height: 550px;
	}

	/*---------------media(1100px)_block7----------------*/

	/*---------------media(1100px)_block8----------------*/

	.why__title {
		font-size: 60px;
	}

	/*---------------media(1100px)_block8----------------*/

	/*---------------media(1100px)_block9----------------*/

	.delivery__image-delivery {
		width: 575px;
	    height: 640px;
	}

	.delivery__text {
	    width: 575px;
	}

	/*---------------media(1100px)_block9----------------*/

	/*---------------media(1100px)_block11----------------*/

	.size .container {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 100%;
	}

	.size__small {
		width: 500px;
	}

	.size__image-delivery {
		width: 100%;
		height: 100%;
	}

	.size__image-toys {
		width: 1349px;
    	height: 560px;
	}

	.size__img {
	    width: 100%;
	    object-fit: cover;
	}

	.size__mobile {
		display: block;
	}

	.size__non-mobile {
		display: none;
	}

	/*---------------media(1100px)_block11----------------*/

	/*---------------media(1100px)_block14----------------*/

	.footer__input {
	    width: 750px;
	    height: 52px;
	    background-color: #140A7B;
	    border: 0.5px solid white;
	    margin-top: 10px;
	    padding-left: 10px;
	    color: white;
	    font-size: 15px;
	}

	/*---------------media(1100px)_block14----------------*/
}

/*---------------media(780px)----------------*/

@media(max-width: 780px)
{

	/*---------------media(780px)_block1----------------*/

	.nav__phone {
		display: none;
	}

	.nav__info {
		display: none;
	}

	.nav__info-mobile {
		display: block;
		color: white;
		font-size: 22px;
	}

	.nav__logo-img {
		width: 80px;
		height: 80px;
	}

	/*---------------media(780px)_block1----------------*/

	/*---------------media(780px)_block2----------------*/

	.stand__phone-menu {
		display: block;
	}

	.stand__title {
		font-size: 60px;
	}

	.stand__signature-title {
		font-size: 35px;
	}

	.stand__subtitle-icon {
		width: 35px;
		height: 35px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.stand__img-signature {
		width: 50%;
		height: 50%;
		margin-left: 9px;
	}

	.stand__whom-information {
		padding: 0px 24px;
	}

	.stand__signature-subtitle {
		font-size: 14px;
	}

	.stand__phone-menu {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.stand__phone-number {
		text-decoration: initial;
	}

	.stand__button {
		position: relative;
		border-radius: 10px;
		border:0;
		color: #140A7B;
		left: 5px;
		width: 100px;
		height: 30px;
		margin-top: 10px;
	}

	.stand-subtitle-information {
		display: none;
	}

	.stand-subtitle-information-mobile {
		display: block;
		display: flex;
		flex-direction: column;
		padding-right: 70%;
		width: 100%;
	}

	.stand__whom-information {
		display: none;
	}

	.stand__whom-information-mobile {
		display: block;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	/*---------------media(780px)_block2----------------*/

	/*---------------media(780px)_block3----------------*/

	.secret__title {
		font-size: 60px;
	}

	.secret__text {
		width: 95%;
	}

	.secret__information-painting {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__red-paragraph {
	    font-size: 45px;
	    margin-bottom: 20px;
	}

	.secret__subtitle {
	    font-size: 15px;
	}

	.secret__subtitle {
		text-align: center;
		color: #130D4B;
		line-height: 1.75em;
		margin-top: 0px;
	    font-size: 18px;
	    font-weight: 500;
	    width: 100%;
	    height: 100%;
	}

	.secret__image-information {
		width: 100%;
	}

	.secret__img {
		width: 100%;
		height: 100%;
	}

	.secret__information-live-lime {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__text-wood {
		width: 90%;
	}

	.secret__red-paragraph-wood {
	    font-size: 40px;
	}

	.secret__subtitle-wood {
	    font-size: 15px;
	}

	.secret__img-wood {
		width: 100%;
	    height: 100%;
	}

	.author__image-information {
		width: 100%;
	}

	.secret__subtitle-number {
	    font-size: 14px;
	    width: 100%;
	    height: 50px;
	    margin-bottom: 10px;
	}

	.secret__information-more-items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.secret__text-author {
		width: 95%;
	}

	.secret__red-paragraph-author {
	    font-size: 40px;
	}

	.secret__subtitle-author {
	    font-size: 15px;
	}

	.author__img-wood {
		width: 100%;
	    height: 100%;
	}

	/*---------------media(780px)_block3----------------*/

	/*---------------media(780px)_block4----------------*/

	.contrast__title {
	    font-size: 60px;
	    color: #130D4B;
	    padding-top: 50px;
	}

	.contrast__subtitle {
	    font-size: 18px;
	    padding-bottom: 40px;
	}

	.contrast__img {
		display: flex;
		flex-direction: column;
	}

	.contrast__image-information {
		width: 100%;
	}

	/*---------------media(780px)_block4----------------*/

	/*---------------media(780px)_block5----------------*/

	.creation__information {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.creation__title {
	    font-size: 40px;
	    padding: 20px;
	}

	.creation__information-title {
	    font-size: 30px;
	}

	.creation__image-information {
		display: flex;
		width: 100%;
	}

	.creation__img-wood {
		width: 100%;
		height: 450px;
	}

	.creation__title-pice {
		font-size: 18px;
		padding-bottom: 0px;
		text-align: center;
	}

	.creation__piece {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}

	.creation__image-piece-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__img-mobile {
		width: 100%;
    	height: 100%;
	}

	.creation__image-miniature-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__image-face-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__image-base-mobile {
		width: 100%;
    	height: 450px;
	}
	.creation__image-petal-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__image-Paint-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__image-varnished-mobile {
		width: 100%;
    	height: 450px;
	}

	.creation__subtitle-miniature {
		padding-top: 10px;
	}

	.creation__image-piece-mobile {
		display: block;
	}

	.creation__img-mobile {
		display: block;
	}

	.creation__image-miniature-mobile {
		display: block;
	}

	.creation__image-face-mobile {
		display: block;
	}

	.creation__image-base-mobile {
		display: block;
	}

	.creation__image-petal-mobile {
		display: block;
	}

	.creation__image-Paint-mobile {
		display: block;
	}

	.creation__image-varnished-mobile {
		display: block;
	}

	.creation__image-piece {
		display: none;
	}

	.creation__image-miniature {
		display: none;
	}

	.creation__image-face {
		display: none;
	}

	.creation__image-base {
		display: none;
	}

	.creation__image-petal {
		display: none;
	}

	.creation__image-Paint {
		display: none;
	}

	.creation__image-varnished {
		display: none;
	}

	.creation__subtitle-non-mobile {
		display: none;
	}

	.creation__subtitle-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
	}

	.creation__subtitle-text-mobile {
		display: none;
	}

	/*---------------media(780px)_block5----------------*/

	/*---------------media(780px)_block6----------------*/

	.control {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 20px;
	}

	.control__text {
		width: 90%;
	}

	.control__title {
	    font-size: 30px;
	}

	.control__subtitle {
	    font-size: 15px;
	}

	.control__image-varnished {
		width: 100%;
		height: 500px;
	}

	/*---------------media(780px)_block6----------------*/

	/*---------------media(780px)_block7----------------*/

	.story__text {
		padding-bottom: 80px;
	}

	.story__title {
		font-size: 60px;
		padding-top: 20px;
	}

	.story__text-Red-hat-title {
		padding-top: 0px;
	}

	.story__subtitle {
		font-size: 18px;
	}

	.story__information {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.story__button {
		margin-bottom: 50px;
	}

	.story__text-info {
		width: 100%;
	}

	.story__text-Red-hat {
		width: 100%;
		height: 100%;
	}

	.story__image-varnished {
		width: 100%;
	}

	.story__text-pit {
		width: 100%;
		height: 100%
	}

	.story__image-Red-hat {
		width: 100%;
	}

	.story__text-Roundelay {
		width: 100%;
		height: 100%;
	}

	.story__image-pit {
		width: 100%;
	}

	.story__image-princess {
		width: 100%;
	}

	.story__image-Roundelay {
		width: 100%;
	}

	/*---------------media(780px)_block7----------------*/

	/*---------------media(780px)_block8----------------*/

	.why__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.why__title {
		width: 100%;
		padding-bottom: 0px;
	}

	.why__sub-info {
		text-align: center;
	    width: 80%;
	    padding: 0px;
	}

	.whu__how-information {
		display: none;
	}

	.whu__how-information-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.whu__how-info {
		display: none;
	}

	.whu__how-info-mobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-right: 350px;
	}

	.whu__how-icon {
	    width: 30px;
	    height: 30px;
	    margin-right: 20px;
	    margin-left: 20px;
	}

	.whu__how-icon-text {
	    font-size: 25px;
	}

	.whu__how-subtitle {
	    font-size: 20px;
	    padding-top: 15px;
	}

	/*---------------media(780px)_block8----------------*/

	/*---------------media(780px)_block10----------------*/

	.inimitable__title {
	    font-size: 30px;
	}

	.inimitable__subtitle {
	    font-size: 15px;
	}

	/*---------------media(780px)_block10----------------*/

	/*---------------media(780px)_block11----------------*/

	.size__sub-title {
	    font-size: 60px;
	    margin-top: 30px;
	}
	.size__sub-subtitle {
	    font-size: 13px;
	}

	.size__text-info-title {
	    font-size: 50px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.size__text-info-subtitle {
	    font-size: 15px;
	}

	.size__social-networks {
	    padding: 50px;
	}

	/*---------------media(780px)_block11----------------*/

	/*---------------media(780px)_block13----------------*/

	.diploms__images-title {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    padding-top: 70px;
	}

	.diploms__image-toys {
	    width: 273px;
	    height: 400px;
	    padding-top: 30px; 
	}
	.diploms__button {
		display: block;
		width: 150px;
		height: 50px;
		background-color: #130D4B;
		color: white;
		border-radius: 50px;
		border: 0;
		font-size: 15px;
		margin-top: 30px;
	}

	.diploms-non-mobile{
		display: none;
	}

	.diploms__image-toys-non-mobile {
		display: none;
	}

	.diploms__image-toys-mobile {
		display: block;
	}

	/*---------------media(780px)_block13----------------*/

	/*---------------media(780px)_block14----------------*/

	.footer__input {
	    width: 350px;
	}

	/*---------------media(780px)_block14----------------*/
}

/*---------------media(550px)----------------*/

@media(max-width: 550px)
{

	/*---------------media(550px)_block1----------------*/
	.nav__phone {
		display: none;
	}

	.nav__info {
		display: none;
	}

	.nav__info-mobile {
		display: block;
		color: white;
		font-size: 22px;
	}

	.nav__logo-img {
		width: 65px;
		height: 65px;
	}

	/*---------------media(550px)_block1----------------*/

	/*---------------media(550px)_block2----------------*/

	.stand__phone-menu {
		display: block;
	}

	.stand__title {
		font-size: 35px;
	}

	.stand__signature-title {
		font-size: 30px;
	}

	.stand__subtitle-icon {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		margin-left: 20px;
	}

	.stand__img-signature {
		width: 40%;
		height: 40%;
		margin-left: 9px;
	}

	.stand-subtitle-information {
		display: none;
	}

	.stand-subtitle-information-mobile {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		padding-right: 0px;
	}

	.stand__signature-subtitle {
		font-size: 15px;
	}

	.stand__phone-menu {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	/*---------------media(550px)_block2----------------*/

	/*---------------media(550px)_block3----------------*/

	.secret__title {
		font-size: 35px;
		padding: 20px;
	}

	.secret__red-paragraph {
	    font-size: 35px;
	    margin-bottom: 10px;
	}

	.author__image-information {
		width: 100%;
	}

	.secret__subtitle-number {
	    font-size: 12px;
	}

	.secret__subtitle {
	    font-size: 12px;
	}

	.secret__red-paragraph-wood {
	    font-size: 35px;
	}

	.secret__subtitle-wood {
	    font-size: 12px;
	}

	.secret__red-paragraph-author {
	    font-size: 35px;
	}

	.secret__subtitle-author {
	    font-size: 12px;
	}

	/*---------------media(550px)_block3----------------*/

	/*---------------media(550px)_block4----------------*/

	.contrast__title {
	    font-size: 35px;
	    color: #130D4B;
	    padding-top: 50px;
	}

	.contrast__subtitle {
	    font-size: 12px;
	    padding-bottom: 25px;
	}

	.contrast__image-information {
		width: 100%;
	}

	/*---------------media(550px)_block4----------------*/

	/*---------------media(550px)_block5----------------*/

	.creation__title {
	    font-size: 20px;
	    padding: 20px;
	}

	.creation__information-title {
	    font-size: 20px;
	}

	.creation__text {
	    width: 100%;
	}

	.creation__information-subtitle {
	    font-size: 10px;
	    width: 95%;
	}

	.creation__image-information {
		width: 100%;
	}

	.creation__img-wood {
		width: 100%;
		height: 350px;
	}

	.creation__piece-text {
	    padding-left: 0px;
	    width: 100%;
	}

	.creation__subtitle-miniature {
		padding-top: 10px;
		font-size: 12px;
	}

	.creation__image-piece-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__img-mobile {
		width: 100%;
    	height: 100%;
	}

	.creation__image-miniature-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__image-face-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__image-base-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__image-petal-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__image-Paint-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__image-varnished-mobile {
		width: 100%;
    	height: 250px;
	}

	.creation__ul {
		font-size: 12px;
	}

	.creation__subtitle-Paint {
	    font-size: 12px;
	}

	.creation__ul-Paint {
		font-size: 12px;
	}

	.creation__subtitle-varnished {
		font-size: 12px;
	}

	.creation__title-miniature {
		text-align: center;
	}

	/*---------------media(550px)_block5----------------*/

	/*---------------media(550px)_block6----------------*/

	.control__title {
	    font-size: 25px;
	}

	.control__subtitle {
	    font-size: 10px;
	}

	.control__image-varnished {
		width: 100%;
		height: 300px;
	}

	/*---------------media(550px)_block6----------------*/

	/*---------------media(550px)_block7----------------*/

	.story__text {
		padding-bottom: 50px;
	}

	.story__title {
		font-size: 40px;
		padding-top: 20px;
	}

	.story__subtitle {
		font-size: 15px;
	}

	.story__text-Red-hat-title {
		padding-top: 0px;
	}

	.story__information {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.story__button {
		margin-bottom: 50px;
	}

	.story__text-Roundelay {
		height: 100%;
	}
	.story__text-Red-hat {
		height: 100%;
	}

	.story__text-pit {
		height: 100%;
	}

	.story__image-varnished {
		height: 250px;
	}

	.story__image-Red-hat {
		height: 250px;
	}

	.story__image-pit {
		height: 250px;
	}

	.story__image-princess {
		height: 250px;
	}

	.story__image-Roundelay {
		height: 250px;
	}

	/*---------------media(550px)_block7----------------*/

	/*---------------media(550px)_block8----------------*/

	.why__title {
	    font-size: 40px;
	    padding-bottom: 0px;
	}

	.why__subtitle {
	    font-size: 12px;
	}

	.whu__how-subtitle {
	    font-size: 15px;
	}

	.whu__how-title {
	    padding-top: 50px;
	    padding-bottom: 30px;
	}

	.whu__how-info {
		padding-top: 20px;
	}

	.whu__how-information {
		display: none;
	}

	.whu__how-information-mobile {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.whu__how-info {
		display: none;
	}

	.whu__how-info-mobile {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-right: 0px;
	}

	.whu__how-icon {
	    width: 30px;
	    height: 30px;
	    margin-right: 20px;
	}

	/*---------------media(550px)_block8----------------*/

	/*---------------media(550px)_block9----------------*/

	.delivery {
	    display: flex;
	    flex-direction: column;
	}

	.delivery__text {
	    width: 90%;
	}

	.delivery__title {
	    font-size: 30px;
	}

	.delivery__title-sub {
	    font-size: 15px;
	}

	.delivery__subtitle {
	    font-size: 11px;
	}

	.delivery__li {
	    font-size: 11px;
	}

	.delivery__image-delivery {
	    width: 100%;
	    height: 270px;
	}

	/*---------------media(550px)_block9----------------*/

	/*---------------media(550px)_block10----------------*/

	.inimitable__text {
	    padding: 20px;
	}

	.inimitable__title {
	    font-size: 20px;
	}

	.inimitable__subtitle {
	    font-size: 10px;
	}

	/*---------------media(550px)_block10----------------*/

	/*---------------media(550px)_block11----------------*/

	.size__sub-title {
	    font-size: 40px;
	    margin-top: 0px;
	    margin-bottom: 20px;
	}

	.size__text-info-title {
	    font-size: 25px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.size__text-info-subtitle {
	    font-size: 12px;
	}

	.size__img {
		width: 100%;
	}

	.size__small {
		width: 100%;
	}

	.size__title {
	    font-size: 30px;
	    padding: 10px;
	}

	.size__title-cont {
	    font-size: 20px;
	}

	.size__subtitle-cont {
	    font-size: 15px;
	}

	.size__button-small {
	    font-size: 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.size__button-mid {
	    font-size: 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	.size__button-big {
	    font-size: 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

		.size__shadow {
	    position: relative;
	    bottom: 60px;
	    left: 3px;
	}

	.size__social-networks {
	    padding: 20px;
	}

	.size__social-networks-title {
	    font-size: 30px;
	}

	.size__social-icon {
	    width: 30%;
	    padding-top: 20px;
	}

	/*---------------media(550px)_block11----------------*/

	/*---------------media(550px)_block14----------------*/

	.footer__title {
	    font-size: 30px;
	    padding-top: 40px;
	}

	.footer__input {
	    width: 280px;
	    font-size: 12px;
	}

	.footer__button {
	    width: 200px;
	    height: 50px;
	    margin-bottom: 60px;
	}

	.footer__social {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	/*---------------media(550px)_block14----------------*/
}